.main-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.content {

  position: absolute;
  top: $menu-header-height;
  left: 0;
  right: 0;
  bottom: 0;

  @media only screen and (min-width: $lg-brkp) {
    right: $menu-width;
    bottom: 0;

  }

}

