.button {
    @extend .touchable;
    display: inline-block;
    position: relative;
    line-height: 32px;
    border-radius: 2px;
    font-size: 0.9em;
    background-color: #fff;
    color: #646464;
    &.blue {
        background-color: $flat-peter-river;
        &:active, &:focus, &:hover {
            background-color: $flat-belize-hole;
        }
        color: #fff;
    }
    &.green {
        background-color: $flat-emerald;
        &:active, &:focus, &:hover {
            background-color: $flat-nephritis;
        }
        color: #fff;
    }
    &.red {
        background-color: $flat-alizarin;
        &:active, &:focus, &:hover {
            background-color: $flat-pomegranate;
        }
        color: #fff;
    }
    &.raised {
        // transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        // transition-delay: 0.2s;
        @extend .shadow-sm;
    }
    &.raised {
        &:active, &:focus, &:hover {
            // box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
            box-shadow: none;
        }
    }
}
@media only screen and (min-width: $md-brkp) {} @media only screen and (min-width: $lg-brkp) {}
