fieldset {
    border: none;
}
legend {
    padding-top: 0.5em;
    font-weight: bold;
    font-size: 1.5em;
}

.input-group {
    // margin-bottom: 0.5em;
    position: relative;
    margin-bottom: .5em;
    // we'll handle the focus state ourselves
    input:focus {
        outline: none;
        // box-shadow: inset 0 -.25em .5em lighten($flat-peter-river, 45%);
    }
    label, input {
        display: inline-block;
        transition: all 0.15s;
    }
    input {
        width: 100%;
        margin-top: 5px;
        padding: 6px 15px;
        border: 1px solid $flat-concrete;
        border-radius: 5px;
        line-height: 20px;
        // font-size: 14px;
        color: #222;
    }
    label {
        padding: 0 0.5em;
        padding-top:0.5em;
        line-height: 1;
        letter-spacing: .125em;
        pointer-events: none;
    }
}
//Make everything needing to be tapped larger
input[type="text"], input[type="password"], input[type="email"], input[type="submit"], button {
    @extend .touchable;
}
input[type="checkbox"], input[type="rado"] {
    min-height: $touch-height-min/2;
    min-width: $touch-width-min/2;
}
input[type="text"], input[type="password"], input[type="email"] {
    text-indent: 1em;
    border-radius: 5px;
}
@media only screen and (min-width: $md-brkp) {} @media only screen and (min-width: $lg-brkp) {}
