.main {

  p {
    font-size: 300%;
    color: white;
    text-align: center;
    margin-top: 20%;
  }

  @media only screen and (min-width: $md-brkp) {

  }

  @media only screen and (min-width: $lg-brkp) {

  }

}


