/**
 * The primary container for the application content
 */

[role="main"] {
    overflow: hidden;
    background-color: $base;
    min-height: 100%;
    padding-left: 1em;
    padding-right: 1em;
    transition: all 0.3s;
    width: 100%;
    position: absolute;
    // top: 2em;
    right: 0;
    &.menu-active {
        transform: translateX(-75%);
    }
}

@media only screen and (min-width: $md-brkp) {
    [role="main"] {
        // padding-top: 3em;
        padding-left: 5em;
        padding-right: 5em;
        &.menu-active {
            transform: translateX(-50%);
        }
    }
}
@media only screen and (min-width: $lg-brkp) {
    [role="main"] {
        padding-left: 10em;
        padding-right: 10em;
        &.menu-active {
            transform: translateX(-35%);
        }
    }
}
