#node-editor {
    @extend .shadow-sm;
    position: absolute;
    background: rgba($outsmart-dark, 0.6);
    transition: left 1s;
    width: 400px;
    top: 2em;
    left: -400px;
    &.active {
        left: 0;
    }
    textarea {
        min-width: 90%;
        min-height: 5em;
    }
}
#cke_node-description {
    &, * {
        box-sizing: content-box;
    }
}
