<div id="menu" role="menu" ng-class="{'active': container.state.menuOpened}">
    <!-- right sidebar content -->
    <header>
        <h2>Menu</h2>
    </header>

    <section>
        <header>
            <h3>Manage Projects</h3>
        </header>

        <form id="menu-load">
            <select id="existing-projects" size="4">
                <option ng-repeat="project in menu.data.projects" value="project.id">
                    {{project.id}}
                </option>


            </select>
            <!-- <button id="project-open" class="button raised blue">Load Project</button> -->
        </form>

        <button id="project-create" class="button raised blue" ng-click="menu.projectCreateClick()">
            Create New
            Project
        </button>

        <button id="project-export" class="button raised blue" ng-click="menu.projectExport()">
            Export
            Project
        </button>

        <br>
        <input type="file" id="project-import" ng-click="menu.projectImport($event)">
        <!-- <button id="project-import" class="button raised blue"> Import Project</button> -->
    </section>

    <section>
        <header>
            <h2>Project Settings</h2>
        </header>

        <form id="menu-project">
            <fieldset>
                <legend>Manage Node Status's</legend>
                <div class="input-group">
                    <label for=""></label>
                    <select name="" id="">
                        <option>Select Status</option>
                        <option value="complete">complete</option>
                        <option value="incomplete">incomplete</option>
                    </select>
                    <button>Add</button>
                    <button>Remove</button>
                </div>
            </fieldset>
            <fieldset>
                <div class="input-group">
                    <label for="">Name</label>
                    <input id="" type="text" value="">
                </div>

                <div class="input-group">
                    <label for="">Colour</label>
                    <input id="colour-picker" class="color">
                </div>

            </fieldset>
        </form>
    </section>

</div>