html {
  background: $base;
  line-height: $baseLineHeight;
  font-size: $baseFontSize;
  font-family: Open-sans, Georgia;
}

html, body, #main-container {
  // overflow: hidden; // Need this, but not until styles exist to ensure content will always fit
  background-color: $base;
  height: 100%;
}

#main-container * {
  @extend .border-boxed;
}

.shadow {
  border: 1px solid rgba(191, 191, 191, 0.5);
  box-shadow: rgba(0, 0, 0, 0.4) 7px 7px 10px 0px;
}

.shadow-sm {
  border: 1px solid rgba(191, 191, 191, 0.5);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.center {
  text-align: center;
}

.error {
  color: $errorRed;
}

.hidden {
  display: none;
  visibility: hidden;
}

.visible {
  // visibility: inherit;
  // display: inherit;
}

.touchable {
  min-height: $touch-height-min;
  min-width: $touch-width-min;
}

.absolute-center {
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  // top: 0;
  // left: 0;
  // bottom: 0;
  // right: 0;
}

.border-boxed {
  box-sizing: border-box;
}
